absl-py
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
blis
catalogue
certifi
cffi
cfgv
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cupy-cuda12x
curated-tokenizers
curated-transformers
cv
cycler
cymem
debugpy
decorator
deepdiff
defusedxml
dill
distlib
executing
fastcore
fastjsonschema
fastrlock
filelock
flatbuffers
fleep
fonttools
fqdn
fsspec
fuzzywuzzy
gast
google-pasta
graphviz
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
icecream
identify
idna
imageio
imgaug
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonlines
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kagglehub
keras
kiwisolver
langcodes
language_data
lazy_loader
Levenshtein
libclang
loguru
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mergedeep
mistune
ml-dtypes
mpmath
murmurhash
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nodeenv
notebook
notebook_shim
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-python
opt-einsum
optree
orderly-set
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
pre_commit
preshed
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pycparser
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-json-logger
python-Levenshtein
pytz
PyYAML
pyzmq
qtconsole
QtPy
RapidFuzz
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
safetensors
scikit-image
scikit-learn
scipy
Send2Trash
setuptools
shapely
shellingham
six
smart-open
sniffio
soupsieve
srsly
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
thinc
threadpoolctl
tifffile
tinycss2
tokenizers
torch
torch_snippets
torchaudio
torchshow
torchsummary
torchvision
torchviz
tornado
tqdm
traitlets
transformers
triton
typer
types-python-dateutil
typing
typing_extensions
tzdata
uri-template
urllib3
virtualenv
wasabi
wcwidth
weasel
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
xmltodict
